extends layout
// Page Content
block content
  div.container
    div.row
      div.col-lg-12.text-center
        h1 Online Bookstore - Grand Opening!
        
      h5 Recently Added
      div.carousel
        div 1
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        div 2
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        div 3
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        div 4
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        div 5
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        div 6
          img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
      
      hr
      br
      h5 Popular This Week
        div.carousel
          div 1
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 2
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 3
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 4
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 5
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 6
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        
      hr
      br
      h5 History     
        div.carousel
          div 1
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 2
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 3
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 4
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 5
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
          div 6
            img(src="http://www.onguardapparel.com/images/products/thumb/HiddenTailor.9074B.jpg" height="100" width="100")
        
        
      br
      br
      script. 
        $(document).ready( function () {
          $(".carousel").slick({
            infinite: true,
            slidesToShow: 4,
            dots: true,
            slidesToScroll: 3
          });
        });
